a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: red;
}
body{
    background-color: #c9f6c9;
    text-align: center;
}
header{
    background-color: #48ae48;
    padding-top: 2%;
    padding-bottom: 2%;
}
ul{
    display: flex;
    justify-content: space-evenly;
}
li {
    list-style: none;
}
main{
    height: 80vh;
}
.frase{
    font-size: 1.5rem;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    margin-top: 15px;
    background-color: gold;
}
.hora{
    width: 50%;
    margin: auto;
    padding: 5px 5px 5px 5px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: gold;
}
.fecha{
    width: 50%;
    margin: auto;
    padding: 5px 5px 5px 5px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: gold;
}
.boton{
    background-color: red;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}
.boton:hover{
    color: black;
}
footer{
    background-color: #48ae48;
    display: flex;
    justify-content: space-evenly;
    padding-top: 2%;
    padding-bottom: 2%;
}